{{ define "head" }}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MA Software</title>
	<script src="/public/htmx.js"/></script>
	<script src="/public/blink.js"/></script>
	<link rel="stylesheet" href="/public/styles.css" />
</head>
{{ end }}
