<!DOCTYPE html>
<html lang="en">

{{ template "head" .}}

<body hx-boost="true">

	{{ template "navbar" . }}

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<h2 class="fw-bold"> MA Software DevOps and Infra Services </h2>
				<b class="red"> *Limited offer for a free consultation and AWS deployment* </b>
				<p> Hey there 👋. My name is <a href="https://manders.us">Matt Anderson</a>. </p>
				<p> I'm an Senior Software Engineer at <a href="https://cloud.com">cloud.com</a> and a lifelong tinkerer
					of Linux systems. </p>
				<hr>
				<p> Business software infrastructure is complicated. </p>
				<p> The rise of VPS, Cloud, Kubernetes, Terraform, and Serverless enable complex deployments
					that are more scalable and cost efficient in specialized scenarios. </p>
				<p> But also create a more difficult ecosystem to navigate. </p>
				<p> To address this, I'm offering services as an experienced engineer and communicator to remove this
					complexity from your plate.</p>
				<p> I'll set up your deployments, provide live support, and guide you when its time to scale.</p>
				<p> Most importantly, I'll give you peace of mind. Your infra is in good hands.</p>
				<p> I'll meet your unique requirements, in the cloud or on prem.</p>
				<p> No sales teams, corporate friction, or profit squeezing. Just my extensive experience and attention
					to your needs. </p>

				<p> Any serious inquiries please send an email. We'll just talk.</p>
				<p> matt@masoftware.net </p>

				<p><a href="https://manders.us/">Reference my Experience</a></p>

				<p> © 2024 MA Software LLC </p>

			</div>
		</div>
	</div>

	<script src="/public/blink.js"></script>
</body>

</html>
