<!DOCTYPE html>
<html lang="en">

{{ template "head" .}}

<body hx-boost="true">

	<!--<b class="red"> *Offer for a free consultation and initial deployment* </b>-->
	<div class="container">

		<div class="col-lg-6 col-12 mx-auto">
			{{ template "navbar" . }}

			<h1><u>MA Software Services</u></h1>
			<h2>Server Setup and Administration</h2>
			<p> Hi there 👋. My name is <a href="https://manders.us">Matt Anderson</a>. </p>
			<p> I'm a Senior SWE@<a href="https://www.tibco.com/">TIBCO</a>, software solopreneur, and lifelong Linux
				tinkerer. </p>
			<hr>

			<p> Businesses depend on all types of software. </p>
			<p> Web Servers, CRM, ERP, VPN, Database, File Storage, EMail, Collaboration Tools, and more.</p>
			<p> <u>I offer my services as an experienced Linux expert</u> to set up your servers, deploy necessary software on them, and provide live monitoring and maintenence.</p>
			<p>I'm extremely flexible, ranging from bare metal deployments on premise, to containerized clusters in the cloud, but I aim to keep it simple.</p>
			<p>My goal is to <u>handle your software infrastructure, so you can focus on your business.</u></p>

			<hr>

			<p> I offer pricing plans affordable for small businesses without complex requirements, and fair ones for the enterprise.</p>
			<p> For inquiries, please send me an email. I look forward to speaking.</p>
			<p> matt@masoftware.net </p>

			<p><a href="https://manders.us/">Reference my Experience</a></p>

			<p> © 2025 MA Software LLC </p>

			{{ template "cornercolorswitcher" . }}

		</div>


	</div>


</body>

</html>
