{{ define "navbar" }}
<nav>
	<pre class="magenta bold">
 __    __  ______  ______  ______    
/\ "-./  \/\  __ \/\  ___\/\  ___\   
\ \ \-./\ \ \  __ \ \___  \ \___  \   <span id="blink1" class="gray">_______</span>
 \ \_\ \ \_\ \_\ \_\/\_____\/\_____\ <span id="blink2" class="gray">/\______\</span>
  \/_/  \/_/\/_/\/_/\/_____/\/_____/ <span id="blink3" class="gray">\/______/</span>
	</pre>
[<a href="/">About</a>] <!--[<a href="/studies">Case Studies</a>]-->
</nav>
{{ end }}


{{ define "navbarold" }}
<nav class="navbar navbar-expand-lg sticky-top border-bottom">
	<div class="container">
		<a class="navbar-brand fw-bold" href="/">
			MA Software
		</a>
		<div class="nav-item dropdown">
			<button class="btn py-2 d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false"
				data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
				<svg class="bi my-1 theme-icon-active" fill="currentColor" fill="currentColor" width="1em" height="1em">
					<use href="/public/bootstrap-icons.svg#circle-half"></use>
				</svg>
				<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end shadow p-1" aria-labelledby="bd-theme-text">
				<li>
					<button type="button" class="dropdown-item rounded d-flex align-items-center mb-1"
						data-bs-theme-value="light" aria-pressed="false">
						<svg class="bi me-2 opacity-50" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#sun"></use>
						</svg>
						Light
						<svg class="bi ms-auto d-none" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#check2"></use>
						</svg>
					</button>
				</li>
				<li>
					<button type="button" class="dropdown-item rounded d-flex align-items-center"
						data-bs-theme-value="dark" aria-pressed="false">
						<svg class="bi me-2 opacity-50" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#moon-stars-fill"></use>
						</svg>
						Dark
						<svg class="bi ms-auto d-none" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#check2"></use>
						</svg>
					</button>
				</li>
				<li>
					<button type="button" class="dropdown-item rounded d-flex align-items-center active mt-1"
						data-bs-theme-value="auto" aria-pressed="true">
						<svg class="bi me-2 opacity-50" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#circle-half"></use>
						</svg>
						Auto
						<svg class="bi ms-auto d-none" fill="currentColor" width="1em" height="1em">
							<use href="/public/bootstrap-icons.svg#check2"></use>
						</svg>
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
{{ end }}
